* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background: #ffafaf;
    /* background: red; */
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.container img {
    width: 60%;
    height: 75%;
    /* border-radius: 10px; */
    border-radius: 2rem;
}

.container h1 {
    font-size: 9rem;
    /* font-size: 90px; */
    font-weight: 600;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: rgba(177, 171, 171, 0.687); */
    /* color: #ffe3e3; */
    color: #fff;
}

.qoutes {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: rgb(0, 0, 0);
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 500;
}


/* MY NAME */

.name {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: #ee909870;
    text-shadow: 2px 3px #ff021770;
    text-emphasis-style: initial;
    font-weight: 100;
    top: 10%;
    /* border: 1px solid red; */
    padding: 1rem;
    margin: 1rem;
    top: 19%;
}

.qoutes h2 {
    position: relative;
    /* font-size: 45px; */
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
    /* max-width: px; */
    font-size: 4rem;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    /* top: -10px;
    left: -10px; */
}